.container {
    width: 1920px;
    height: 1000px;
    display: flex;
    margin: 0 auto 0 auto;
}

header {
    width: 150px;
}
#main {
    width: 640px;
}

#main_image img {
    width: 640px;
}

#mainbottom_image{
    display: flex;
}

#mainbottom_image img {
    width: 320px;
}

/* sub */
#sub {
    width: 640px;
}

.sub_container {
    display: flex;
    font-size: x-small;
}

.sub_container img {
    width: 100px;
    
}




/* フッター */
footer {
    width: 200px;
}