.container {
    width: 1920px;
    height: 1000px;
    display: flex;
}

header {
    width: 200px;
}
#main {
    width: 640px;
}

#main_image img {
    width: 640px;
}

#sub_image{
    display: flex;
}
#sub_image img {
    width: 320px;
}

/* sub */
#sub {
    width: 220px;
}
/* フッター */
footer {
    width: 200px;
}